<div>
    <h2 style="color: #333;">Contact</h2>
    <a href="https://www.youtube.com/watch?v=HaEoV0IXmE8">Re</a>
    <p style="font-size: 16px; color: #555;">
        <i class="bi bi-envelope-fill" style="color: #0077B5;"></i>
        <span class="selectable">samuelcurran64100&#64;gmail.com</span>
    </p>
    <p style="font-size: 16px; color: #555;">
        <i class="bi bi-telephone-fill" style="color: #0077B5;"></i>
        <span class="selectable">+33 782846671</span>
    </p>
    <a href="https://www.linkedin.com/in/samuel-curran-5b3685263" target="_blank">
        <button>
            LinkedIn
        </button>
    </a>
    <a href="https://github.com/SamuelCURRAN0/" target="_blank"> 
        <button>
            GitHub
        </button>
    </a>
</div>

