.container {
    display: flex;              /* Utilisation de flexbox pour aligner les divs horizontalement */
    width: 100%;                /* Conteneur prend 100% de la largeur */
    justify-content: space-between; /* Éspace entre les éléments */
    gap: 20px;                  /* Espacement de 20px entre les divs */
  }
  
  .left, .right {
    background-color: #f4f4f4;  /* Arrière-plan pour chaque div */
    padding: 20px;
    width: calc(50% - 10px);     /* Chaque div prend la moitié de l'espace, moins la moitié du gap */
  }
  
  .right {
    background-color: #e0e0e0;  /* Différente couleur pour la div droite */
  }
  
  .title {
    font-size: 1.5em;           /* Taille de police */
    margin-bottom: 10px;        /* Espacement en bas */
  }
  
  .CV {
    width: 100%;  
    position: relative;
    transition: filter 0.3s ease;    
  }
  
  .CV:hover {
    filter: grayscale(100%);
  }
  
  