.competences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* étire toutes les colonnes */
  gap: 75px;
}

.categorie {
  flex: 0 0 400px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  min-height: 250px;
}



.categorie.Red{
    background: linear-gradient(135deg, #ff5252, #ff174531);
    border: 1px solid #ff5252;
}
.categorie.Blue { 
  background: linear-gradient(135deg, #448aff, #2979ff31); 
  border: 1px solid #448aff;
}
.categorie.Green { 
  background: linear-gradient(135deg, #00c853, #00e67631); 
  border: 1px solid #00c853;
}
.categorie.Yellow { 
  background: linear-gradient(135deg, #ffd600, #ffeb3b31); 
  border: 1px solid #ffd600;
}
.categorie.Purple { 
  background: linear-gradient(135deg, #7c4dff, #651fff31); 
  border: 1px solid #7c4dff;
}
.categorie.Pink { 
  background: linear-gradient(135deg, #ec407a, #d81b6031); 
  border: 1px solid #ec407a;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 15px;
  flex-shrink: 0; /* Empêche le titre de se réduire */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center;
  flex-grow: 1; /* Prend tout l'espace restant */
  align-content: flex-start; /* Aligne le contenu en haut */
}

.skill {
  padding: 8px 15px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  display: inline-block;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  filter: blur(0.5px);
  border-radius: 10px;
}
.glass:hover {
  filter: blur(0);
}