<div>
    <h2>{{translationContentService.getContent("competences-titre")}}</h2>
    <div class="container">
        <div class="left">
          <p>Contenu de la div gauche</p>
          <div>
              BackEnd
          </div>
          <div>
              Php
          </div>
          <div>
              ...
          </div>
        </div>
        <div class="right">
          <p>Contenu de la div droite</p>
        <div>
            CV
        </div>
        </div>
      </div>
    <div>
</div>