:host {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.project-list {    
    display: flex;
    gap: 75px; 
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    overflow-x: hidden;
    height: auto;
}

.dropdown .dropdown-list {
    position: absolute;
    border: 1px solid rgb(180, 180, 180);
    background-color: var(--primary-bg);
    margin: 1px 0;
    padding: 10px 0;
    border-radius: 10px;
    width: 200px;
    z-index: 1000;
}

.dropdown .dropdown-list .dropdown-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown .dropdown-list .dropdown-item input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
}

.dropdown .dropdown-list .dropdown-item:hover {
    background-color: var(--secondary-bg);
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.arrow-button {
  background-color: #000000; /* nice blue */
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(49, 49, 49, 0.2);
}

.arrow-button:hover {
  background-color: #000000;
  transform: scale(1.1);
}

.arrow-button:active {
  transform: scale(0.95);
}

.filters{
    margin-top: auto;         /* pushes to bottom */
  padding: 20px;
}