.project-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 100px; 
    justify-content: space-evenly;
    width: 100%;
}

.dropdown .dropdown-list {
    position: absolute;
    border: 1px solid rgb(180, 180, 180);
    background-color: var(--primary-bg);
    margin: 1px 0;
    padding: 10px 0;
    border-radius: 10px;
    width: 200px;
    z-index: 1000;
}

.dropdown .dropdown-list .dropdown-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown .dropdown-list .dropdown-item input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
}

.dropdown .dropdown-list .dropdown-item:hover {
    background-color: var(--secondary-bg);
}
