.item {
  z-index: 42;
  position: relative;
  width: 2px;
  height: 2px;
  background-color: white;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  will-change: transform, opacity;
}  
.middle {
  position: absolute;
  transform: translate(-50%, -50%);
}