:root {
    --primary-bg: #0c0f13;
    --secondary-bg: #1a1d22;
    --text-color: #ffffff;
    --blue-bg: rgba(9,9,121,1);
  }
  
  [data-theme="light"] {
    --primary-bg: #e2e2e2;
    --secondary-bg: #c4c4c4;
    --text-color: #333;
    --blue-bg: rgb(9, 9, 158);
  }

  