<section class="begin end color-black">
  <app-main-menu></app-main-menu>
</section>
<section class="space">
  <app-a-propos></app-a-propos>
</section>
<section class="space">
  <app-projets-liste></app-projets-liste>
</section>
<section class="space">
  <app-competences-liste></app-competences-liste>
</section>
<section class="space">
  <app-diplomes-liste></app-diplomes-liste>
</section>
<section class="end space">
  <app-contact></app-contact>
</section>
<app-custom-scrollbar></app-custom-scrollbar>