<section class="begin end color-black">
  <app-main-menu></app-main-menu>
</section>
<section class="space">
  <app-a-propos data-aos="fade-right"></app-a-propos>
</section>
<section class="space">
  <app-projets-liste data-aos="fade-right"></app-projets-liste>
</section>
<section class="space">
  <app-competences-liste data-aos="fade-right"></app-competences-liste>
</section>
<section class="space">
  <app-diplomes-liste data-aos="fade-right"></app-diplomes-liste>
</section>
<section class="end space">
  <app-contact data-aos="fade-right"></app-contact>
</section>
<!--app-custom-scrollbar></app-custom-scrollbar-->