<h2>À propos</h2>
<div>
    <p><strong>Samuel Curran</strong></p>
    <p>Étudiant en BUT Informatique à Anglet (Montaury)</p>
    <p>
        Passionné par l'Informatique, je suis en train de perfectionner mes compétences 
        en programmation et en informatique. Toujours curieux et en quête d'apprentissage, 
        je m'intéresse particulièrement aux nouvelles technologies et à l'innovation. 
        Motivé, je cherche à intégrer mes connaissances dans des projets concrets afin de 
        contribuer activement au monde numérique de demain.
    </p>
</div>

