/* You can add global styles to this file, and also import other style files */
/* General Styles */
body {
    font-family: 'Inter', sans-serif; 
    margin: 0;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

h2 {
    margin-top: 4em;
    font-size: 24px;
    margin-bottom: 20px;
}

h2::before {
    content: "~ ";
}
h2::after {
    content: " ~";
}

img {
    display: block;
    width: 150px;        
    height: auto;       
    margin: 20px auto; 
}

p {
    font-size: 18px; 
    margin: 10px 0;
}

i {
    margin-right: 8px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

section.space {
    padding-left: 10vw;
    padding-right: 10vw;
}
section.begin {
    padding-top: 0;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 50px 0;
}
section.end {
    padding-bottom: 0;
}

.color-black{
    background-color: #000000; /* Soft red */
    color: #fff; /* White text for contrast */
}