/* You can add global styles to this file, and also import other style files */
/* General Styles */
@use "styles/variables";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.selectable {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
h2 {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  margin-top: 4em;
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}
h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 70px;
  height: 4px;
  background: linear-gradient(
    to right,
    #00768d 0%,
    #017e97 20%,
    rgba(0, 118, 141, 0) 100% 
  );
  clip-path: polygon(0 0, 40% 0, 100% 30%, 100% 70%, 40% 100%, 0 100%);
}
h5{
    font-size: 2rem !important;
    padding-bottom: 10px;
}
body {
  background: linear-gradient(135deg, var(--primary-bg), var(--secondary-bg));
  //background-color: var(--primary-bg) !important;
  color: var(--text-color) !important;
}
body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 150px;
  height: auto;
  margin: 20px auto;
}

p {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  font-size: 18px;
  margin: 10px 0;
}

i {
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}
section.begin {
  padding-top: 0;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
section.end {
  padding-bottom: 0;
  margin-bottom: 0;
}
html,
body {
  overflow: hidden;
}

.normal-space {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.modal-title p {
    margin-bottom: 10px;
  font-size: 2rem !important;
}

h2 + * {
  margin-top: 5em !important; /* pushes the next element down */
}