<div class="main-menu">
    <div class="wrapper">
        <div class="texte">
            <app-custom-text-effect [message]="'Samuel CURRAN'" class="name"></app-custom-text-effect>
            <app-custom-text-effect [message]="'Portfolio'" class="portfolio"></app-custom-text-effect>
        </div>      
        <div class="right-menu">
            <app-buton-theme></app-buton-theme> 
            <button id="lang">Fr<i class="fas fa-chevron-down"></i></button>
        </div>
        
        <app-box *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"></app-box>
    </div>
</div>
