:root {
    --main-color: #3498db; // Define a CSS variable
  }
  
.main-menu {
    height: 100vh;
    width: 100%;
}
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg,rgba(2,0,.6,1), 5%, rgba(9,9,121,1) 30%, rgb(0, 89, 255) 100%);
}
// Styling for Name
.name {
    font-size: 70px;
    font-weight: bold; 
}

#selectionLangue{
    position: absolute;
    top: 4%;
    left: 96%;
}
#selectionLangue::after{
    content: '⌄';
    font-size: 25px;
    position: relative;
    top: -4px; 
}
.portfolio {
    font-size: 50px; 
    margin-top: 10px;
    font-weight: normal; 
}
.texte {
    font-family: poppins;
    text-align: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    margin: 0;
}

#lang {
    position: absolute;
    border: none;
    background-color: transparent;
    color: white;
    top: 1%;
    left: 99%;
    transform: translate(-100%, 0);
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center the items vertically */
    font-size: 16px; /* Adjust font size as needed */
}

#lang i {
    margin-left: 5px; /* Add some space between the text and icon */
    font-size: 16px; /* Ensure the icon size matches the text size */
}
